.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.navlist {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(1rem, 14vw - 3.5rem, 5rem);
	list-style-type: none;
}

.navlistItem {
    color: black;
    font-weight: bold;
}

.navlistItem a{
    text-decoration: none;
}
